---
layout: markdown
---

# Alternatives

<ul>
  <li>
    <span>Task Runners: </span><!-- .element: class="fragment" data-fragment-index="1" -->
    <span>Assemble / Grunt / Gulp</span><!-- .element: class="fragment" data-fragment-index="2" -->
  </li><!-- .element: class="fragment" data-fragment-index="1" -->
  <li>
    <span>Data Hosting: </span><!-- .element: class="fragment" data-fragment-index="3" -->
    <span>Firebase / AWS RDS / Compose</span><!-- .element: class="fragment" data-fragment-index="4" -->
  </li><!-- .element: class="fragment" data-fragment-index="3" -->
  <li>
    <span>Site Hosting: </span><!-- .element: class="fragment" data-fragment-index="5" -->
    <span>Github Pages / Firebase Hosting / AWS S3</span><!-- .element: class="fragment" data-fragment-index="6" -->
  </li><!-- .element: class="fragment" data-fragment-index="5" -->
  <li>
    <span>Functions (FaaS): </span><!-- .element: class="fragment" data-fragment-index="7" -->
    <span>AWS Lambda / Auth0 Webtasks / Google Cloud Functions</span><!-- .element: class="fragment" data-fragment-index="8" -->
  </li><!-- .element: class="fragment" data-fragment-index="7" -->
  <li>
    <span>Roll Your Own: </span><!-- .element: class="fragment" data-fragment-index="9" -->
    <span>AWS / Digital Ocean / Google Compute Engine / Azure / Docker</span><!-- .element: class="fragment" data-fragment-index="10" -->
  </li><!-- .element: class="fragment" data-fragment-index="9" -->
</ul>
