---
layout: markdown
---

## Connecting to APIs

Add dynamic data and content from third-party APIs.  <!-- .element: class="fragment" data-fragment-index="1" -->

<ul>
<li>
  <span>Data: </span><!-- .element: class="fragment" data-fragment-index="2" -->
  <span>Github / Firebase</span><!-- .element: class="fragment" data-fragment-index="3" -->
</li><!-- .element: class="fragment" data-fragment-index="2" -->
<li>
  <span>Content: </span><!-- .element: class="fragment" data-fragment-index="4" -->
  <span>Contentful / WordPress</span><!-- .element: class="fragment" data-fragment-index="5" -->
</li><!-- .element: class="fragment" data-fragment-index="4" -->
<li>
  <span>Authentication: </span><!-- .element: class="fragment" data-fragment-index="6" -->
  <span>Github / Google / Twitter / Facebook / Firebase / Auth0</span><!-- .element: class="fragment" data-fragment-index="7" -->
</li><!-- .element: class="fragment" data-fragment-index="6" -->
</ul>
