---
layout: markdown
---

## Creating Structure

Designers and developers may use whatever they choose.  <!-- .element: class="fragment" data-fragment-index="1" -->

<ul>
  <li>
    <span>Structure: </span><!-- .element: class="fragment" data-fragment-index="2" -->
    <span>HTML / markdown</span><!-- .element: class="fragment" data-fragment-index="3" -->
  </li><!-- .element: class="fragment" data-fragment-index="2" -->
  <li>
    <span>Styles: </span><!-- .element: class="fragment" data-fragment-index="4" -->
    <span>CSS / LESS / SASS</span><!-- .element: class="fragment" data-fragment-index="5" -->
  </li><!-- .element: class="fragment" data-fragment-index="4" -->
  <li>
    <span>Frameworks: </span><!-- .element: class="fragment" data-fragment-index="6" -->
    <span>Angular / React / Ember</span><!-- .element: class="fragment" data-fragment-index="7" -->
  </li><!-- .element: class="fragment" data-fragment-index="6" -->
  <li>
    <span>Libraries: </span><!-- .element: class="fragment" data-fragment-index="8" -->
    <span>Bootstrap / Foundation / jQuery</span><!-- .element: class="fragment" data-fragment-index="9" -->
  </li><!-- .element: class="fragment" data-fragment-index="8" -->
  <li>
    <span>Task Runners: </span><!-- .element: class="fragment" data-fragment-index="10" -->
    <span>Grunt / Gulp</span><!-- .element: class="fragment" data-fragment-index="11" -->
  </li><!-- .element: class="fragment" data-fragment-index="10" -->
  <li>
    <span>Assemble ;)</span>
  </li><!-- .element: class="fragment" data-fragment-index="12" -->
</ul>
